<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filters</key>
	<array>
		<dict>
			<key>filterId</key>
			<integer>0</integer>
			<key>name</key>
			<string>Brigntness</string>
			<key>imageFilename</key>
			<string>brightness.png</string>
			<key>filterPaletteId</key>
			<integer>1</integer>
			<key>purchased</key>
			<true/>
			<key>hidden</key>
			<false/>
			<key>defaultValue</key>
			<integer>0</integer>
			<key>minimumValue</key>
			<integer>-1</integer>
			<key>maximumValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>filterId</key>
			<integer>1</integer>
			<key>name</key>
			<string>Contrast</string>
			<key>imageFilename</key>
			<string>contrast.png</string>
			<key>filterPaletteId</key>
			<integer>1</integer>
			<key>purchased</key>
			<true/>
			<key>hidden</key>
			<false/>
			<key>defaultValue</key>
			<integer>1</integer>
			<key>minimumValue</key>
			<integer>0</integer>
			<key>maximumValue</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>filterId</key>
			<integer>2</integer>
			<key>name</key>
			<string>Saturation</string>
			<key>imageFilename</key>
			<string>saturation.png</string>
			<key>filterPaletteId</key>
			<integer>1</integer>
			<key>purchased</key>
			<true/>
			<key>hidden</key>
			<false/>
			<key>defaultValue</key>
			<integer>1</integer>
			<key>minimumValue</key>
			<integer>0</integer>
			<key>maximumValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>filterId</key>
			<integer>3</integer>
			<key>name</key>
			<string>Vignette</string>
			<key>imageFilename</key>
			<string>vignette.png</string>
			<key>filterPaletteId</key>
			<integer>1</integer>
			<key>purchased</key>
			<true/>
			<key>hidden</key>
			<false/>
			<key>defaultValue</key>
			<real>0.75</real>
			<key>minimumValue</key>
			<real>0.5</real>
			<key>maximumValue</key>
			<real>0.9</real>
		</dict>
	</array>
</dict>
</plist>
