<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filterPalettes</key>
	<array>
		<dict>
			<key>filterPaletteId</key>
			<integer>0</integer>
			<key>name</key>
			<string>Favorites</string>
			<key>imageFilename</key>
			<string>favorite.png</string>
			<key>hidden</key>
			<false/>
		</dict>
		<dict>
			<key>filterPaletteId</key>
			<integer>1</integer>
			<key>name</key>
			<string>Color Adjustment</string>
			<key>imageFilename</key>
			<string>color-adjust.png</string>
			<key>hidden</key>
			<false/>
		</dict>
		<dict>
			<key>filterPaletteID</key>
			<integer>2</integer>
			<key>name</key>
			<string>Cameras</string>
			<key>imageFilename</key>
			<string>cameras.png</string>
			<key>hidden</key>
			<false/>
		</dict>
		<dict>
			<key>filterPaletteId</key>
			<integer>3</integer>
			<key>name</key>
			<string>Effects</string>
			<key>imageFilename</key>
			<string>effects.png</string>
			<key>hidden</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
